*{
    margin: 0;
}

:root{
    --primary: #ce9052;
    --bg: #010101;
}

body{
    background-color: #F1EFEF;
}


.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #010101;
}

.navbar .navbar-logo span{
    color: var(--primary);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(22, 22, 22, 0.8);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.belanjaan{
    width: 100%;
    height: 100%;
    margin: 10%;
}

.belanjaan-container{
    width: 40%;
    height: 20%;
    background-color: #ce9052;
}